﻿<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TM - RaspberryPi</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    </nav>
    <div class="jumbotron feature">
        <div class="container">
            <h1 class="text-center">
				<span class="glyphicon glyphicon-adjust"></span> Interakcja z płytką
				<img src="images/RPi-Logo.png" alt="RaspberryPi" style="width:100px;height:89px;" data-toggle="tooltip" title="RaspberryPi 3+">
			</h1>
            <hr>
            <div class="col-md-4">
                <p >Świecenie diodą<span class="glyphicon glyphicon-info-sign" style="margin-left:10px;font-size:18px" data-toggle="tooltip" title="Kliknięcie przycisku spowoduje zaświecenie lub zgaszenie diody"></span></p>
                <p><button class="btn btn-default" onclick="blink_led();">Zamrugaj</button></p>
            </div>
            <div class="col-md-4">
                <p>Przycisk jest <span id="switch-text" class="inactive">nieaktywny</span><span class="glyphicon glyphicon-info-sign" style="margin-left:10px;font-size:18px" data-toggle="tooltip" title="Odwzorowuje stan przycisku na płytce RaspberryPi"></p>
                <p>
                    <input id="switch" type="checkbox" disabled data-toggle="toggle">
                </p>
            </div>
            <div class="col-md-4">
                <p>Stan żyroskopu<span class="glyphicon glyphicon-info-sign" style="margin-left:10px;font-size:18px" data-toggle="tooltip" title="Informuje o ruchu lub bezruchu płytki"></p>
                <p><span id="gyro" class="inactive">Płytka porusza się</span></p>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Informacje</h1>
                <p>Ostatnia aktualizacja: <span id="date">-data-</span></p>
                <p><a onclick="refresh_all();" data-toggle="tooltip" title="Odświeżenie wszystkich danych: stanów oraz informacji dotyczących działania systemu">Odśwież dane</a></p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-6 article-intro">
                <h3>
                    Obraz z kamery<span class="glyphicon glyphicon-info-sign" style="margin-left:10px;font-size:18px" data-toggle="tooltip" title="Odświeżany co 200ms obraz z kamery na płytce">
                </h3>
                <div style="height: 400px; width:auto;">
                    <img id="video" class="img-responsive img-rounded" src="camCapture.png" alt="">
                </div>
            </article>
            <article class="col-md-6 article-intro">
                <h3>
                    Dane o płytce<span class="glyphicon glyphicon-info-sign" style="margin-left:10px;font-size:18px" data-toggle="tooltip" title="Informacje o stanie systemu">
                </h3>
                <p>Temperatura: <span id="temp"></span></p>
                <p>Zużycie procesora: <span id="cpu"></span></p>
                <p>Zużycie RAMu: <span id="ram"></span></p>
            </article>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <footer>
        <div class="footer-blurb">
            <div class="container">
                <p>Copyright &copy; Artur Jaworski, Maciej Ratajczak - TM 2018/2019 </p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- IE10 viewport bug workaround -->
    <script src="~/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Placeholder Images -->
    <script src="~/js/holder.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="~/js/api_scripts.js"></script>
</body>
</html>
